{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "postgres",
  "password": "your-postgres-password",
  "database": "realworld",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}
